<h1>Tamagotchi!</h1>

<form action='/newguy' method='post'>
  <div class="form-group">
    <label for="name">Enter A Name For Your Tamagotchi</label>
    <input id="name" name="name" class="form-control" type="text">
  </div>
   <button type="submit" class="btn">Enter</button>
 </form>
