<h1>$myTamagotchi.getTamagotchiName()</h1>
<img src="tama.jpg">
<div class="tama">
<!-- Food = $food, -->
Play = $myTamagotchi.play()
<form action='/newguy' method='post'>
  <div class="form-group">
<button value="play" class="action" type="submit">Play With Me!</button>
  </div>
</form>
</div>
